.home {
  .card {
    height: 30vh;
    background-image: url(../../images/pic1.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-img-overlay {
    color: black;
  }

  .about-container {
    margin: 3rem;
    padding: 0 2rem;
    min-height: 60vh;
    background-color: rgba(212, 220, 220, 0.924);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .skills {
      .btn {
        width: fit-content;
        height: 40px;
        margin: 0.2rem 0.2rem;
        background-color: rgb(233, 141, 156);
        border: 2px solid black;
      }
    }
  }
}
